.background {
    position: fixed;
    filter: blur(15px);
    z-index: -1;

}

#background{
    height: 1500px;
    width: 1500px;
   
}

body {
    background-image: url(postuler.php);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.presentation {
    position: relative;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    padding: 80px;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
}
input[type="submit"] {
    font-size: larger;
    font-style: bolder;
    border: 1px solid #eeafb9a2;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px rgb(163, 160, 160);
    margin-left: 50px;
    margin-top: 100px;
}

p{
    font-style: oblique;
    font-size: xx-large;
}


