* {
    margin: 0;
}

/* STYLE-BARRE DE NAVIGATION */
header {
    display: flex;
}

header img {
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

header .logo {
    display: flex;
    gap: 20px;
}

header h3 {
    margin-top: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 400px;
    margin-top: 6%;
}

header a {
    text-decoration: none;
    font-size: larger;
    transition: 0.5s;
    color: black;
}

header a:hover {
    color: rgb(243, 101, 148);
    font-size: 25px;

}

header .lien {
    color: white;
    border: 1px solid palevioletred;
    background-color: rgb(243, 101, 148);
    padding: 5px;
    border-radius: 10px;
}

header .lien:hover {
    font-size: none;
    color: rgb(243, 101, 148);
    background-color: black;
    border-color: black;
}

/* STYLE-SECTION1 */

.section1 {
    border: 1px solid rgb(243, 101, 148);
    background-color: rgb(243, 101, 148);
    margin-top: 1%;

}

.presentation {
    display: flex;
    gap: 80px;
}

#photos {
    height: 450px;
    width: 400px;
    border: none;
    border-radius: 50%;
    background-color: rgba(233, 218, 218, 0.521);
    margin-top: 5%;
    box-shadow: 0px 0px 10px white;
}
.slogan{
    margin: 0;
    padding: 0;
}
.presentation h2 {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 5%;
}

.presentation p {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 3%;
}
/* STYLE-BUTTON-SECTION1 */

.infos {
    margin-left: 10%;
    margin-bottom: 50px;
    border-radius: 10px;
    border-color: white;
    padding: 20px;
    box-shadow: 0 0 10px white;
}

.infos a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.infos a:hover {
    color: rgb(243, 101, 148);
}

/* STYLE-SECTION2 */

.section2 {
    background-color: white;
}

.presentation-membres {
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 25px;
}

.presentation-membres h2 {
    margin-left: 500px;
}

.membres {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.membres img {
    height: 300px;
    border-radius: 10px;

}

.img-membre1 {
    margin-left: 70px;
}

.about-membre1 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 70px;
    

}

.about-membre2 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;

}

.about-membre3 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-membre4 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-membre5 {
    margin-left: 70px;
}
.about-membre5 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 70px;
}

.about-membre6 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-membre7 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-membre8 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.membres h3 {
    color: rgb(243, 101, 148);
    font-size: 20px;
}

.membres h4 {
    font-size: 20px;
    font-style: normal;
}

/* STYLE-BUTTON-SECTION2 */
.button-membres{
    padding: 20px;
    border-radius: 10px;
    margin-left: 85%;
    background-color: rgb(243, 101, 148);
    border-color: rgb(243, 101, 148);
    margin-top: 5px;
    box-shadow: -2px 2px 10px palevioletred;
}
.button-membres a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.button-membres a:hover{
    color: black;
}

/* STYLE-SECTION-ACTIVITES */
.section3{
    background-color: rgb(255, 154, 171);
    margin-top: 20px;
    display: flex;
    padding-bottom: 50px;
}
.activites{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.list-activites{
    margin-top: 30px;
    display: flex;
}
.activites h1{
    color: white;
    margin-left: 5px;
}
.activites h2{
    color: black;
    text-shadow: -2px 1px 3px whitesmoke;
    margin-left: 20px;
}


h5{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
/* STYLE-SECTION-CONTACTS */
.section4{
    background-color: black;
    padding: 20px;
    margin-top: 5px;
}
.contact{
    display: flex;
    margin-left: 50px;
}
.icones{
    margin-left: 150px;
    margin-top: 10px;
}
.section4 h2{
    color: whitesmoke;
    margin-top: 12px;
    margin-right: 2px;
    text-shadow: -2px 1px 3px pink;
}
.section4 h1{
    color: palevioletred;
    margin-top: 10px;
    margin-left: 2px;

}
.section4 img{
    height: 50px;
}
.section4 a{
    text-decoration: none;
    color: pink;
    margin-top: 15px;
    transition: 0.5s;
}
.section4 a:hover{
    color: whitesmoke;
}
.instagram{
    display: flex;
}
.mail{
    display: flex;
}
.facebook{
    display: flex;
}
.twitter{
    display: flex;
}
.whatsapp{
    display: flex;
}